<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Db3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>61</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Db3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>62</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Eb3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>63</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Eb3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>64</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Gb3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>65</integer>
		<key>pitch</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Gb3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>66</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Gb3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>67</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Ab3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>68</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Ab3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>69</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_B3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>70</integer>
		<key>pitch</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_B3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>71</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_B3_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>72</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Db4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>73</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Db4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>74</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Eb4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>75</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Eb4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>76</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Gb4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>77</integer>
		<key>pitch</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Gb4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>78</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Gb4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>79</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Ab4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>80</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Ab4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>81</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_B4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>82</integer>
		<key>pitch</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_B4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>83</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_B4_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>84</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Db5_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>85</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Db5_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>86</integer>
		<key>pitch</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>fileName</key>
		<string>DG_Ord_Py_Eb5_mf_1_1648</string>
		<key>midiNumber</key>
		<integer>87</integer>
		<key>pitch</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
